@tailwind base;
@tailwind components;
@tailwind utilities;

/* transition.css */
.transition-wrapper {
  transition: opacity 0.2s ease-in-out; 
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the spinner on the page */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.football-icon {
  font-size: 5rem; /* Adjust the size as needed */
  animation: spin 1s infinite linear; /* Continuous spinning */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

